
.css-ro1aah-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: var(--md-sys-color-tertiary) !important;
}

.css-ro1aah-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track {
    background-color: var(--md-sys-color-tertiary) !important;
}

.css-ldeck5-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed, .css-ldeck5-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: var(--md-sys-color-tertiary) !important;
}

.css-1cmopll-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: var(--md-sys-color-tertiary) !important;
}

.css-1odx1-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
    color: var(--md-sys-color-primary) !important;
}