
.Mui-checked {
    color: var(--md-sys-color-tertiary) !important;
}

.Mui-checked+.MuiSwitch-track {
    background-color: var(--md-sys-color-tertiary) !important;
}

.Mui-completed, .Mui-active {
    color: var(--md-sys-color-tertiary) !important;
}

.Mui-checked {
    color: var(--md-sys-color-tertiary) !important;
}

.Mui-selected {
    color: var(--md-sys-color-primary) !important;
}